* {
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
ul,
ol {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}