<section class="section-description">
  <div class="container descr__wrap">
    <h2 class="title descr__title">Заказать дизайн интерьера в Хмельницком для своего дома!</h2>
    <ul class="descr__list">
      <li class="descr__item">
        Дом для каждого из нас – это место, где мы чувствуем уют и покой, обретаем душевное
        равновесие, куда мы все спешим после тяжелого рабочего дня, и где хотим спрятаться от
        городской суматохи. И, конечно, у каждого есть дом мечты, который, наверное, был придуман и
        визуализирован еще в детстве или же, наоборот, есть мечта, но нет четкого представления как
        он будет выглядеть. Команда We-ART с радостью поможет Вам выполнить абсолютно любой дизайн
        интерьера Хмельницкий.
      </li>
      <li class="descr__item">
        За время работы команда дизайн студии интерьера в Хмельницком We-ART накопила достаточно
        знаний и навыков, чтобы удовлетворить вкусы любого клиента, а также выполнила десятки
        проектов, в том числе и для представителей своей сферы. Каждый клиент уникален, и каждый
        ставит свои приоритеты – для кого-то это время, для кого-то цена. Для команды We-ART в
        приоритете же качество выполнения задач и пожелания клиента, поэтому про нашу компанию за
        все время работы отзывались только с хорошей стороны.
      </li>
    </ul>
    <button class="load-more__btn">Читать больше</button>
  </div>
</section>
