<footer class="footer">
  <div class="container footer__wrap">
    <ul class="social__list">
      <li class="social__item">
        <a href="" class="social__link">
          <svg class="social__icon social__icon_light" width="7" height="14">
            <use href="./images/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="" class="social__link">
          <svg class="social__icon social__icon_light" width="14" height="14">
            <use href="./images/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="" class="social__link">
          <svg class="social__icon social__icon_light" width="12" height="14">
            <use href="./images/sprite.svg#icon-pinterest"></use>
          </svg>
        </a>
      </li>
    </ul>
    <p class="copyright">&#169; We-Art. Все права защищены.</p>
    <div class="web__wrap">
      <a href="" class="web__link">
        <svg class="web__icon" width="17" height="17">
          <use href="./images/sprite.svg#icon-web-systems_logo"></use>
        </svg>
      </a>
    </div>
  </div>
</footer>
