<header class="header">
  <div class="container">
    <div class="header-top">
      <ul class="social__list">
        <li class="social__item">
          <a href="" class="social__link">
            <svg class="social__icon social__icon_dark" width="7" height="14">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="" class="social__link">
            <svg class="social__icon social__icon_dark" width="14" height="14">
              <use href="./images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="" class="social__link social__icon_dark">
            <svg class="social__icon" width="12" height="14">
              <use href="./images/sprite.svg#icon-pinterest"></use>
            </svg>
          </a>
        </li>
      </ul>
      <div class="logo__wrap">
        <a href="" class="logo__link">
          <svg class="logo__icon" width="160" height="27.5">
            <use href="./images/sprite.svg#icon-logo"></use>
          </svg>
        </a>
      </div>
      <ul class="lang__list">
        <li class="lang__item">
          <button class="lang__btn" type="button">eng</button>
        </li>
        <li class="lang__item">
          <button class="lang__btn" type="button">рус</button>
        </li>
        <li class="lang__item">
          <button class="lang__btn" type="button">pol</button>
        </li>
      </ul>
    </div>
    <div class="header-bottom">
      <nav class="navigation">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="" class="nav__link">О студии</a>
          </li>
          <li class="nav__item">
            <a href="" class="nav__link">портфолио</a>
          </li>
          <li class="nav__item">
            <a href="" class="nav__link">этапы работы</a>
          </li>
          <li class="nav__item">
            <a href="" class="nav__link">стоимость</a>
          </li>
          <li class="nav__item">
            <a href="" class="nav__link">эко-материалы</a>
          </li>
          <li class="nav__item">
            <a href="" class="nav__link">контакты</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
