<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu mobile-btn">
    <svg class="close-btn-cion" width="40" height="26">
      <use href="./images/close.svg#icon-close"></use>
    </svg>
  </button>
  <div class="top-wrap">
    <div class="mob-logo__wrap">
      <a href="" class="mob-logo__link">
        <svg class="mob-logo__icon" width="160" height="27.5">
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
      </a>
    </div>
    <ul class="mob-nav__list">
      <li class="mob-nav__item">
        <a href="" class="mob-nav__link">О студии</a>
      </li>
      <li class="mob-nav__item">
        <a href="" class="mob-nav__link">портфолио</a>
      </li>
      <li class="mob-nav__item">
        <a href="" class="mob-nav__link">этапы работы</a>
      </li>
      <li class="mob-nav__item">
        <a href="" class="mob-nav__link">стоимость</a>
      </li>
      <li class="mob-nav__item">
        <a href="" class="mob-nav__link">эко-материалы</a>
      </li>
      <li class="mob-nav__item">
        <a href="" class="mob-nav__link">контакты</a>
      </li>
    </ul>
  </div>
  <div class="bottom-wrap">
    <ul class="mob-social__list">
      <li class="mob-social__item">
        <a href="" class="mob-social__link">
          <svg class="mob-social__icon" width="14" height="28">
            <use href="./images/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="mob-social__item">
        <a href="" class="mob-social__link">
          <svg class="mob-social__icon" width="28" height="28">
            <use href="./images/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="mob-social__item">
        <a href="" class="mob-social__link">
          <svg class="mob-social__icon" width="22" height="28">
            <use href="./images/sprite.svg#icon-pinterest"></use>
          </svg>
        </a>
      </li>
    </ul>
    <ul class="mob-lang__list">
      <li class="mob-lang__item">
        <button class="mob-lang__btn" type="button">eng</button>
      </li>
      <li class="mob-lang__item">
        <button class="mob-lang__btn" type="button">рус</button>
      </li>
      <li class="mob-lang__item">
        <button class="mob-lang__btn" type="button">pol</button>
      </li>
    </ul>
  </div>
</div>
