<section class="section-projects">
  <div class="container">
    <h2 class="title">Новые проэкты</h2>
    <ul class="projects__list">
      <li class="projects__item">
        <a href="" class="projects__link">
          <picture>
            <source
              srcset="./images/products/product_1.jpg 1x, ./images/products/product_1_2x.jpg 2x"
            />
            <img src="./images/products/product_1.jpg" alt="product" />
          </picture>
          <p class="project__descr">Котедж Первый парковый</p>
        </a>
      </li>
      <li class="projects__item">
        <a href="" class="projects__link">
          <picture>
            <source
              srcset="./images/products/product_2.jpg 1x, ./images/products/product_2_2x.jpg 2x"
            />
            <img src="./images/products/product_2.jpg" alt="product" />
          </picture>
          <p class="project__descr">Квартира ЖК Риверстоун</p>
        </a>
      </li>
      <li class="projects__item">
        <a href="" class="projects__link">
          <picture>
            <source
              srcset="./images/products/product_3.jpg 1x, ./images/products/product_3_2x.jpg 2x"
            />
            <img src="./images/products/product_3.jpg" alt="product" />
          </picture>
          <p class="project__descr">Дом Грузевица-3</p>
        </a>
      </li>
      <li class="projects__item">
        <a href="" class="projects__link">
          <picture>
            <source
              srcset="./images/products/product_1.jpg 1x, ./images/products/product_1_2x.jpg 2x"
            />
            <img src="./images/products/product_1.jpg" alt="product" />
          </picture>
          <p class="project__descr"></p>
        </a>
      </li>
      <li class="projects__item">
        <a href="" class="projects__link">
          <picture>
            <source
              srcset="./images/products/product_4.jpg 1x, ./images/products/product_4_2x.jpg 2x"
            />
            <img src="./images/products/product_4.jpg" alt="product" />
          </picture>
          <p class="project__descr">Дом по улице Летняя</p>
        </a>
      </li>
      <li class="projects__item">
        <a href="" class="projects__link">
          <picture>
            <source
              srcset="./images/products/product_5.jpg 1x, ./images/products/product_5_2x.jpg 2x"
            />
            <img src="./images/products/product_5.jpg" alt="product" />
          </picture>
          <p class="project__descr">Магазин Аристократ</p>
        </a>
      </li>
      <li class="projects__item">
        <a href="" class="projects__link">
          <picture>
            <source
              srcset="./images/products/product_6.jpg 1x, ./images/products/product_6_2x.jpg 2x"
            />
            <img src="./images/products/product_6.jpg" alt="product" />
          </picture>
          <p class="project__descr">Магазин SEW TECH</p>
        </a>
      </li>
      <li class="projects__item">
        <a href="" class="projects__link">
          <picture>
            <source
              srcset="./images/products/product_7.jpg 1x, ./images/products/product_7_2x.jpg 2x"
            />
            <img src="./images/products/product_7.jpg" alt="product" />
          </picture>
          <p class="project__descr">Апартаменты</p>
        </a>
      </li>
      <li class="projects__item">
        <a href="" class="projects__link">
          <picture>
            <source
              srcset="./images/products/product_8.jpg 1x, ./images/products/product_8_2x.jpg 2x"
            />
            <img src="./images/products/product_8.jpg" alt="product" />
          </picture>
          <p class="project__descr">Бутик Mix</p>
        </a>
      </li>
      <li class="projects__item">
        <a href="" class="projects__link">
          <picture>
            <source
              srcset="./images/products/product_9.jpg 1x, ./images/products/product_9_2x.jpg 2x"
            />
            <img src="./images/products/product_9.jpg" alt="product" />
          </picture>
          <p class="project__descr">Загородный дом</p>
        </a>
      </li>
    </ul>
  </div>
</section>
