<section class="section-projects">
  <div class="container">
    <div class="title__wrap">
      <h2 class="title projects__title">Новые проекты</h2>
    </div>
    <ul class="projects__list">
      <li class="projects__item">
        <a href="" class="projects__link">
          <div class="img-wrap">
            <img src="./images/products/product_1.jpg" alt="product" class="projects__img" />
          </div>

          <p class="project__descr">Котедж Первый парковый</p>
        </a>
      </li>
      <li class="projects__item">
        <a href="" class="projects__link">
          <div class="img-wrap">
            <img src="./images/products/product_2.jpg" alt="product" class="projects__img" />
          </div>

          <p class="project__descr">Квартира ЖК Риверстоун</p>
        </a>
      </li>
      <li class="projects__item">
        <a href="" class="projects__link">
          <div class="img-wrap">
            <img src="./images/products/product_3.jpg" alt="product" class="projects__img" />
          </div>

          <p class="project__descr">Дом Грузевица-3</p>
        </a>
      </li>

      <li class="projects__item">
        <a href="" class="projects__link">
          <div class="img-wrap">
            <img src="./images/products/product_4.jpg" alt="product" class="projects__img" />
          </div>

          <p class="project__descr">Дом по улице Летняя</p>
        </a>
      </li>
      <li class="projects__item">
        <a href="" class="projects__link">
          <div class="img-wrap">
            <img src="./images/products/product_5.jpg" alt="product" class="projects__img" />
          </div>

          <p class="project__descr">Магазин Аристократ</p>
        </a>
      </li>
      <li class="projects__item">
        <a href="" class="projects__link">
          <div class="img-wrap">
            <img src="./images/products/product_6.jpg" alt="product" class="projects__img" />
          </div>

          <p class="project__descr">Магазин SEW TECH</p>
        </a>
      </li>
      <li class="projects__item">
        <a href="" class="projects__link">
          <div class="img-wrap">
            <img src="./images/products/product_7.jpg" alt="product" class="projects__img" />
          </div>

          <p class="project__descr">Апартаменты</p>
        </a>
      </li>
      <li class="projects__item">
        <a href="" class="projects__link">
          <div class="img-wrap">
            <img src="./images/products/product_8.jpg" alt="product" class="projects__img" />
          </div>

          <p class="project__descr">Бутик Mix</p>
        </a>
      </li>
      <li class="projects__item">
        <a href="" class="projects__link">
          <div class="img-wrap">
            <img src="./images/products/product_9.jpg" alt="product" class="projects__img" />
          </div>

          <p class="project__descr">Загородный дом</p>
        </a>
      </li>
    </ul>
  </div>
</section>
